.item{
    min-height: 30rem;
    min-width: 20rem;
    padding: 20px;
}

.item img{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}

.inner-carousel{
    display: flex;
    /* background-color: lightblue; */
}

.carousel{
    cursor: grab;
    overflow: hidden;
    /* background-color: lightcoral; */
}